<body class="row">
<div class="col-md-2 settings-navbar pd-0">
  <div class="bg-white">
    <a routerLink="aboutUser" class="btn btn-light btn-custom">About you</a>
  </div>
  <div class="bg-white">
    <a routerLink="changePassword" class="btn btn-light btn-custom">Change Password </a>
  </div>
  <div class="bg-white">
    <a routerLink="messages" class="btn btn-light btn-custom">Message</a>
  </div>
</div>
<div class="col-md-10 settings-container bg-white">
  <router-outlet></router-outlet>
</div>
</body>
