body {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  right: 10%;
  top: 80px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 3px;
  z-index: 500;
  overflow-y: scroll;
  overflow-x: unset;
  height: 600px;
}

.closeButton {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 0 12px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: #343a40;
  transition: .3s;
}

.closeButton:hover {
  background: #bd2130;
  transform: rotate(360deg);
}

.rowCustom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.picture {
  border-radius: 3px;
  margin: 3px;
}

.br-t {
  border-bottom: solid 1px #e3e5e4;
}

.flex-center {
  justify-content: center;
}

.settings-head {
  padding: 20px;
  border-bottom: solid 1px #e3e5e4;
  color: #4b4b4b;
  line-height: 1.2;
  background-color: #fbfbfb;
}

.settings-head_title {
  color: #4b4b4b;
  font-size: 24px;
}

.settings-head_subheading {
  color: #7f7f7f;
  font-size: 14px;
  margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pd-0 {
  padding: 0;
}

.input-form {
  width: 90%;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  padding: 7px 12px;
  height: 36px;
}

.settings-content {
  padding: 10px 0;
  margin: 5px;
}

.settings-item {
  margin: 10px 0;
}

.settings-item_label {
  color: #4b4b4b;
  line-height: 32px;
}

.updateButton {
  display: flex;
  margin: auto;
}

.color {
  color: #78aab3 !important;
}

input {
  padding: 10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 0 !important;
}

.form-control {
  border-radius: 0 !important;
  font-size: 12px;
}

.clickable {
  cursor: pointer;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

agm-map {
  height: 500px;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #1c19b7;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.btn-custom {
  border-radius: 0;
  margin: 3px;
  border: black 1px solid;
}

.btn-custom:hover {
  color: #005cbf;
  border-radius: 0;
}
