<body>
<div class="navbar navbar-dark bg mt-5 h-110 position-relative">
  <div class="container txt-white">
    <div class="col-md-4">
      <a class="navbar-brand" href="#">
        <img src="assets/images/lensflets.png" width="40" height="40" alt="LensFlets">
      </a>
      <a class="navbar-brand" href="/">LensFlats.com</a>
    </div>
    <div class="col-md-3">
      <div class="footer-contact">
        <a class="nav-item">
          <img class="fl" src="assets/images/mobile-phone.png" width="25" height="25">
        </a>+380636356971
      </div>
      <div class="footer-contact">
        <a class="nav-item">
          <img class="fl" src="assets/images/mobile-phone.png" width="25" height="25">
        </a>+380965184483
      </div>
      <div class="footer-contact">
        <a class="nav-item">
          <img class="fl" src="assets/images/mobile-phone.png" width="25" height="25">
        </a>+380632228333
      </div>
    </div>
    <div class="col-md-1">
      <div class="footer-contact logo">
        <a class="nav-item" href="https://github.com/" target="_blank">
          <img class="fl" src="assets/images/github.png" alt="GitHub" width="25" height="25">
        </a>
      </div>
      <div class="footer-contact logo">
        <a class="nav-item" href="https://www.facebook.com/" target="_blank">
          <img class="fl" src="assets/images/facebook.png" alt="Facebook" width="25" height="25">
        </a>
      </div>
      <div class="footer-contact logo">
        <a class="nav-item" href="https://www.instagram.com/" target="_blank">
          <img class="fl" src="assets/images/instagram.png" alt="Instagram" width="25" height="25">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="txt-white">Find best accommodation</div>
    </div>
  </div>

</div>
</body>
