<body>
<h2>Password recovery</h2>

<form *ngIf="!token && !email" #passwordForm="ngForm" (submit)="forgotPassword(passwordForm)">
  <div class="inputBox">
    <input type="email"
           name="email"
           required
           ngModel
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           [ngStyle]="{borderColor:email.valid ||!email.touched? 'white' : 'red'}"
           #email="ngModel"
           autocomplete="email"
           [ngModelOptions]="{ updateOn:'change'}">
    <label>Email</label>
  </div>
  <div class="form-inline">
    <button>Send</button>
  </div>
  <div class="text-center" *ngIf="wait">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div *ngIf="!token && !email" class="answer">{{answer}}</div>
</form>

<form *ngIf="token && email" #newPasswordForm="ngForm" (submit)="setNewPassword(newPasswordForm)">
  <div class="inputBox">
    <input type="hidden" name="email" [(ngModel)]="email">
    <input type="hidden" name="token" [(ngModel)]="token">
    <input type="password" name="password" required ngModel autocomplete="">
    <label>Password</label>
  </div>
  <div class="inputBox">
    <input type="password" name="confirmPassword" required ngModel autocomplete="">
    <label>Confirm Password</label>
  </div>
  <div class="form-inline">
    <button>Send</button>
  </div>
  <div *ngIf="token && email" class="answer">{{answer}}</div>
</form>
<button class="closeButton" (click)="closeChanged()"></button>
</body>
