<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

<form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)" class="p-5">

  <div class="settings-item rowCustom">
    <div class="settings-item_label col-md-3">
      Current Password
    </div>
    <div class="settings-item_content col-md-9">
      <input class="form-control"
             type="password"
             name="currentPassword"
             placeholder=""
             autocomplete="currentPassword"
             ngModel
             required>
    </div>
  </div>

  <div class="settings-item rowCustom">
    <div class="settings-item_label col-md-3">
      New Password
    </div>
    <div class="settings-item_content col-md-9">
      <show-hide-password size="lg" icon="fontawesome" btnStyle="primary" [btnOutline]="false">
        <input
          type="password"
          name="newPassword"
          placeholder=""
          autocomplete="newPassword"
          ngModel
          required>
      </show-hide-password>
    </div>
  </div>

  <div class="settings-item rowCustom">
    <div class="settings-item_label col-md-3">
      Confirm Password
    </div>
    <div class="settings-item_content col-md-9">
      <show-hide-password size="lg" icon="fontawesome" btnStyle="primary" [btnOutline]="false">
        <input
          type="password"
          name="confirmPassword"
          placeholder=""
          autocomplete="confirmPassword"
          ngModel
          required>
      </show-hide-password>
    </div>
  </div>

  <button class="updateButton btn btn-light btn-custom">Change Password</button>
  <div class="text-center"><h3 class="alert-danger">{{answer}}</h3></div>
</form>

</body>
