.input-form{
  width: 60%;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  padding: 7px 12px;
  height: 36px;
}

.settings-content{
  padding: 10px 0;
  margin: 5px;
}


.settings-item{
  margin: 10px 0;
}

.settings-item_label{
  color: #4b4b4b;
  line-height: 32px;
}

.rowCustom{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.updateButton{
  display: flex;
  margin: auto;
}

.btn-custom{
  border: black 1px solid;
  border-radius: 3px;
}

.btn-custom:hover{
  color: #005cbf;
  border-radius: 3px;
}
